<!--suppress XmlUnboundNsPrefix, XmlUnboundNsPrefix -->
<configuration debug="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} TKD [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
  <!--<file>/tmp/test.log</file>-->
  <!--<append>true</append>-->
  <!--<encoder>-->
  <!--<pattern>%d{HH:mm:ss.SSS} TKD [%thread] %-5level %logger{36} - %msg%n</pattern>-->
  <!--</encoder>-->
  <!--</appender>-->
  <logger name="de.allmaennitta.profileservice" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="org.hibernate" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <!--<appender-ref ref="FILE" />-->
  </root>
</configuration>
